<!doctype html>
<html lang="en" ng-app="TooMuchApp">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .error{color: red;}
    </style>
  </head>
<body>
   <div class="container" ng-controller="TooMuchController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" class="form-control"
                    type="text" placeholder="list comma separated dishes you usually have for lunch"
                    ng-model="menu">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkMenu()">Check If Too Much</button>
         </div>
         <div class="form-group message{{error}}">
            {{message}}
         </div>


   </div>

</body>
</html>
